.button h2 {
  transition: all 0.5s;
}

.button:hover h2:nth-child(1) {
  margin-top: -1.4vw;
}

.about-icon ion-icon {
  font-size: 1.2rem;
  vertical-align: top;
}

@media (min-width: 640px) {
  .about-icon ion-icon {
    font-size: 1.4rem;
  }
}
