.packs-link ion-icon {
  vertical-align: middle;
}

/* .service {
  background-image: url("../../assets/bg-service.png");
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
} */
