/* Price list specific styles */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #001B0A;
  font-size: 1.25rem;
}

.swiper-button-next.swiper-button-disabled::after,
.swiper-button-prev.swiper-button-disabled::after {
  opacity: 0.3;
}
