.pricelist-content ion-icon {
  font-size: 1.3rem;
}

.pricelist-icon ion-icon {
  font-size: 1rem;
  vertical-align: top;
}

@media (min-width: 1536px) {
  .pricelist-icon ion-icon {
    font-size: 1.4rem;
  }
  .pricelist-content ion-icon {
    font-size: 1.5rem;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff;
}

.swiper-button-next.swiper-button-disabled::after,
.swiper-button-prev.swiper-button-disabled::after {
  opacity: 0.5;
}
